<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.dongyang.smartapp.myapp">
    <!-- GPS를 이용한 상세 위치 파악 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="뭐먹을래?"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MemoEditActivity"></activity>
        <activity android:name=".MemoActivity" /> <!-- 등록한 앱의 네이버 지도 API에 해당하는 Client ID값 -->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="test" />

        <activity android:name=".MapActivity" /> <!-- 지도 -->
        <activity android:name=".MenuActivity4" /> <!-- 양식 룰렛 -->
        <activity android:name=".MenuActivity3" /> <!-- 일식 룰렛 -->
        <activity android:name=".MenuActivity2" /> <!-- 중식 룰렛 -->
        <activity android:name=".MenuActivity1" /> <!-- 한식 룰렛 -->
        <activity android:name=".MainActivity"> <!-- 요리 룰렛 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
